/Week5/nbproject/private/
/Week5/build/
/Week6/nbproject/private/
/Week6/build/
/Week6_cotinue/nbproject/private/
/Week6_cotinue/build/
/Square/nbproject/private/
/week6_continue/nbproject/private/
/week6_continue/build/
/Week7/nbproject/private/
/Week7/build/
